@model IEnumerable<QuizLibrary.QuizQuestion>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>

        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>

            <td>
                <ul class="list-group" id="action-dropdown">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Action<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                            <li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                            <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                        </ul>
                </ul>



            </td>
        </tr>
    }

</table>
