@model QuizLibrary.Quiz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questions)
        </dt>

        <dd>
            @foreach (var item in Model.Questions)
            {
                <div class="panel panel-default">
                    <div class="panel-heading question-heading">
                        <b>@item.Content</b>
                    </div>
                    <div class="panel-body detail-body">
                        @if(item.Answers != null){
                            foreach (var answers in item.Answers)
                            {
                                <span>@answers.Content - @answers.IsCorrect</span>
                                <hr class="answer-divider"/>
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Add Answers", "Edit", new { id = Model.QuizId });
                            <hr class="answer-divider" />
                        }
                    </div>
                </div>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuizId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
