@model QuizLibrary.Quiz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questions)
        </dt>

        <dd>
            @foreach (var item in Model.Questions)
            {
                <p><b>@item.Content</b></p>
                <ul class="list-group">
                    @foreach (var answers in item.Answers)
                    {
                        <li class="list-group-item"> @answers.Content - @answers.IsCorrect </li>
                    }
                </ul>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
