@model QuizLibrary.Quiz

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal row">
        <div class="col-md-4">
            <h4>Quiz</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div id="edit-question-holder" class="col-md-8">
            <h4>Questions</h4>
            <hr />
            <div id="all-questions">
                <p> All questions</p>
                <div class="hidden" id="question-count"> @Model.Questions.Count</div>
                @for (var x = 0; x < Model.Questions.Count; x++)
                {
                    @Html.HiddenFor(model => Model.Questions[x].Id)
                    <div class="panel panel-default">
                        <div class="panel-heading question-heading"> <strong>Question @(Model.Questions[x].Id + 1) </strong></div>
                        <div id="question-body" class="panel-body">
                            @Html.EditorFor(model => Model.Questions[x].Content, new { htmlAttributes = new { @class = "form-control question-content-input" } })
                            <a href="#@x" data-toggle="collapse">Answers</a>
                            <div id="@x" class="collapse answers-body">
                                <button type="button" class="btn btn-success btn-xs add-button" id="add-answer-button-{{~}}"> Add Answer </button>
                                @for (var i = 0; i < Model.Questions[x].Answers.Count; i++)
                                {
                                    <div class="col-md-12 new-answer-holder">
                                        <div class="col-md-8 answer-content-input">
                                            @Html.HiddenFor(model => Model.Questions[x].Answers[i].Id)
                                            @Html.EditorFor(model => Model.Questions[x].Answers[i].Content, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-4 answer-iscorrect-input">
                                            @Html.EditorFor(model => Model.Questions[x].Answers[i].IsCorrect, new { htmlAttributes = new { @class = "edit-checkbox" } })
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr />
            <div>
                <button type="button" class="btn btn-primary btn-xs" id="add-content-button"> Add New Questions </button>
            </div>
            <br />
            <div id="question-holder">
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/AddContent.js");

}
